[Desktop Entry]
Version=1.0
Type=Application
Name=NXP-GTK
Comment=User interface for NXP-TEF668X tuner
Icon=xdr-gtk
Exec=xdr-gtk
Terminal=false
Categories=Network;
StartupWMClass=xdr-gtk
StartupNotify=false
